<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /><div class="container">

        <div class="main">
            <input  type="text" [(ngModel)]="taskItem.task" />
            <button (click)="update()" type="button"><i class="fa-sharp fa-solid fa-retweet"></i> Update</button>
            
        </div>
   
</div>
<!-- formGroup="validation" -->
<!-- *ngFor="let task of taskitem let i=index -->